# Requirements should go here, ABOVE the "#extra: dev" line

navis
python-catmaid
meshio
pydantic
tomli; python_version < '3.11'
tomli-w

#extra: dev

black
extreqs
flake8
flake8-pyproject
ipdb
ipython
isort
mypy
pdoc3
pur
pytest
setuptools
setuptools-scm
wheel
